@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #647dee;
    --main-dark: #434343;

}
.test-img {
    width: 3rem;
    aspect-ratio: 1;

}
.dark-text {
    color: var(--main-dark);
}
.dark-text:hover {
    color: var(--main-color);
    transition: .2s ease-in-out;
}
.active-text {
    color: var(--main-color);
    transition: .2s ease-in;
}

.flex-custom-toggle{
    display: flex;
    flex-direction: column ;
    padding-top: 30%;
   
    
   
}
.flex-custom-toggle > * {
    inset: 0 0 0 30%;
    margin-left: 20%;
    margin-bottom: 1rem;
    letter-spacing: .5px;
    font-size: 1.2rem;
    cursor:pointer;
   

}
.section-header-title {
    color: var(--main-color);
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  
}
.section-header-subtitle {
    color: var(--main-dark);
    width: 50vw;
    margin: auto;
    font-size: .7rem;
    margin-top: 1rem;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}

#logo {
    font-size: 1.4rem;
    letter-spacing: .9px;
    font-weight: 400;
}
.header__button {
   border: 2px solid var(--main-color);
   font-weight: 500;
   letter-spacing: .3px;
   border-radius: 2rem;
   padding: .6em 1.3em;
   color: var(--main-color);
   transition: .1s ease-in-out;
   font-size: 1rem;
 
    
}
.header__button:hover {
    background-color: #8053ac33;
    background-image: linear-gradient(315deg, #8053ac48 0%, #647deee3 74%);
    color: white;
    transition: .2s ease-in-out;
    border: 1px solid transparent;
   
}

/* Home starts */
.home-title {
    font-size: 2.4rem;
    letter-spacing: .7px;
}
.home-subtitle {
    font-size: 1.3rem;
    color: rgb(92, 91, 91);
}
.home-img {
    width: 20rem;
}
/* Home Ends */
/*Features Satrts */
.features-custom {
   width: 100%;
   min-height: 70vh;
  
   background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    color: white;
    display: flex;
    padding-block: 2rem;
    justify-content: space-around;
    
  



   
}
.feture-item-custom {

   
  
    flex: 1;
    text-align: start;
    padding-block: 2vh;


  
  
    

}
.feature-item-title {
    margin-bottom: .9rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 2px;
    font-weight: 400;
 
}
.feature-item-title span {
    font-weight: bold;

}
.feature-item-desc{
    font-size: .75rem;
    letter-spacing: 1.1px;
    font-weight: 300;
}
/* Features Ends */


/* Pricing Sections starts */

.cards-row {
    max-width: 1100px;
    
    
    
    /* grid-template-columns: repeat(minmax(250px, 1fr)); */
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 30px; 


}
.card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


    cursor: pointer;
    padding: 10% 15%;
    aspect-ratio: 1 / 1.4;
    border-radius: 10px;
    text-align: center;

    color: var(--main-dark);
    margin: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
    

   
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.03);
    transition: all .3s ease;

}
.card-destination {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.card-price {
    font-size: .9rem;
    letter-spacing: .1px;
   line-height: 1.9rem;
   margin-bottom: 1rem;
}
.card-price > * span {
    font-weight: bold;
    font-size: 1.2rem;
}
.card-description {
    margin-bottom:1rem;
    line-height: 1.6rem;
    text-align: center;
    font-size: .9rem;
    color: rgb(92, 92, 92);
}
.shipIn {
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 1rem;
  
}
/* Pricing Section Ends */
/*Testimonial Starts*/

.test-card {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-around;
    border-radius: 10px;
    aspect-ratio: 1 /1.2;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    cursor:pointer;
}

.test-card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        transition: .3s ease;
        transform: scale(1.01);
}    
.test-name {
    font-weight: bold;
    text-align: center;
   
}
.test-text {
    font-size: .9rem;
    line-height: 1.4rem;
    letter-spacing: .3px;
 
}
/* Testimonial Ends*/

@media(min-width: 768px){
    .mobile-toggle {
        display: none;

    }

}
@media(min-width: 35em ){
    .button_group  {
        display: none;
    }


}
@media(max-width: 35em ){
    .pricing-section {
        padding-block: 3rem;
    }
    .feature-item-title {
        margin-bottom: .5rem;
        line-height: 1.1rem;
        text-transform: uppercase;
        font-size: .7rem;
        letter-spacing: 1px;
        font-weight: 400;
    }
    
    .feature-item-desc{
        font-size: .65rem;
        letter-spacing: .7px;
        font-weight: 300;
        color: rgb(243, 240, 240);
    }
    .card {
        aspect-ratio: 1 / 1.4;
    }
    .card-destination {
        font-size: 1rem;
        font-weight: bold;
     
        text-transform: uppercase;
        letter-spacing: .3px;
    }
    .card-price {
        font-size: .8rem;
        letter-spacing: .1px;
       line-height: 1.9rem;
       margin-bottom: .5rem;
    }
    .card-price > * span {
        font-weight: bold;
        font-size: 1rem;
    }
    .card-description {
        font-size: .9rem;
        line-height: 1.4rem;
        text-align: center;
    }
    .shipIn {
        font-weight: bold;
       
      
    }
    .button_group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

}

@media(max-width: 768px){
    .header__button {
        font-size: .9rem;
    }
    .mobile-hidden {
        display: none;

    }
    .home-title {
        font-size: 1.5rem;
    }
    .home-subtitle {
     font-size: 1rem;
    }
    .mobile-fetures  {
        display: grid ;
        grid-template-columns: 1fr;
        
    }
    .feture-item-custom {
        width: 60vw;
        
        display: grid;
        place-content: center;
       
        margin: auto;
        
    }

}
.how-cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 4rem;
    flex-wrap: wrap;
   width: 90vw;
   margin: auto;
   
}
.how-card {
    padding: 1rem 3rem;
    width: 19rem;
    
    display: flex;
    flex-direction: column;
   

    margin-bottom: 2rem;
  
}
.how-video {
    width: 14rem;
    aspect-ratio: 1/ 1.6;

}
.how-video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;

}
.video-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.how-text {
    color: var(--main-dark);
    letter-spacing: .1px;
    font-size: .6rem;
    text-transform: uppercase;
    line-height: 1.3rem;
    width: 100%;
    aspect-ratio: 1/.6;

}

.btn-cont {
    
    text-align: center;
    width: 70%;
    margin: auto;
    display: grid;
    place-content: center;
    margin-top: 1rem;
    
    
}
.send__button {
    text-align: center;
    border: 2px solid var(--main-color);
    font-weight: 500;
    letter-spacing: .3px;
    border-radius: 2rem;
    padding: .6em 1.3em;
    color: var(--main-color);
    transition: .1s ease-in-out;
    font-size: 1rem;

}